<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta property="fb:admins" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <!--Fira sans FONT-->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,400,400i,600,700,800&amp;subset=vietnamese" rel="stylesheet">
    <!--CSS-->
    {% css tpvn %}
    <!--CSS animate-->
    {% css animate %}
    <!--JS-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-1.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/createjs.min.js"></script>
    <script src="js/fontawesome-all.min.js"></script>
</head>
