a, a:hover, a:focus {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #333;
}

.tpvn-index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .tpvn-header {
    padding-top: 80px;
    text-align: center;
    .logo {

    }
  }
  .tpvn-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .content {
      position: relative;
      flex-grow: 1;
      #animation_container {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 1.00);
        text-align: center;
        height: 100%!important;
        width: auto !important;
        object-fit: scale-down;
        z-index: -1;
        #canvas {
          position: absolute;
          display: block;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, 1.00);
          height: 100%!important;
          width: 100%!important;
          object-fit: scale-down;
        }
        #dom_overlay_container {
          pointer-events: none;
          overflow: hidden;
          height: 100%!important;
          width: 100%!important;
          object-fit: scale-down;
          position: absolute;
          left: 0;
          top: 0;
          display: block;
        }
      }
      .content-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .organization-content {
      margin-top: 0;
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 768px) {
}
@media (max-width: 414px) {
  .tpvn-index {
    .tpvn-header {
      padding-top: 30px!important;
    }
    .tpvn-main {
      .organization-content {
        margin-bottom: 30px!important;
        & > div {
          flex-basis: 100%;
          justify-content: flex-start!important;
          line-height: 50px;
          & > a {
            padding: 0;
            flex-direction: row!important;
            flex-basis: 100%;
            align-items: left!important;
            text-align: left;
            .title {
              flex-basis: 50%;
              text-indent: 20px;
            }
            .category-text {
              flex-basis: 50%;
              line-height: 50px!important;
              margin-top: 0!important;
            }
          }
        }
        .about-us {
          padding-left: 0!important;
        }
        .contact {
          padding-right: 0!important;
        }
      }
    }
  }
}
