<HTML>
<head>
    <title>Tripath Việt Nam</title>
</head>
<body class="tpvn-index">
<header class="tpvn-header">
    <div class="wrapper">
        <div class="logo">
            <a href="/" title="TPVN">TRIPATH
                <span class="logo-text">VIET NAM</span>
            </a>
        </div>
    </div>
</header>
<div class="wrapper">
    <div class="tpvn-main">
        <div class="content">
            <div class="is-bg">
                <svg width="100%" height="100%" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="circuit" class="path" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
                       stroke-opacity="1" fill="none"
                       stroke="#f2f2f2" opacity="0.54">
                        <path d="M0,500  m-500,0
                                a75,75 0 1,0 700,0
                                a25,25 0 1,0 -700,0
                                M-175,770 Q-230,150 185,400"/>
                    </g>
                    <g id="circuit" class="path" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
                       stroke-opacity="1" stroke-dasharray="240,200" stroke-dashoffset="450" fill="none"
                       stroke="#02B3E4" opacity="0.74">
                        <path d="M0,500  m-500,0
                                a75,75 0 1,0 700,0
                                a25,25 0 1,0 -700,0
                                M-175,770 Q-230,150 185,400"/>
                    </g>
                </svg>
            </div>
            <div class="content-text">
                HELLO!
            </div>
        </div>
        <div class="organization-content">
            <div class="about-us">
                <div class="title">About us</div>
                <div class="category-text">Overview & Organization</div>
            </div>
            <div class="work">
                <div class="title">Work</div>
                <div class="category-text">Bussiness area</div>
            </div>
            <div class="contact">
                <div class="title">Contact</div>
                <div class="category-text">Get in touch</div>
            </div>
        </div>
    </div>
</div>
</body>
</HTML>