<HTML>
    <head>
        <title>Tripath Việt Nam</title>
    </head>
    <body class="tpvn-index">
        <header class="tpvn-header">
            <div class="wrapper">
                <div class="logo">
                    <a href="/" title="TPVN">TRIPATH
                        <span class="logo-text">VIET NAM</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <div class="tpvn-main">
                <div class="content">
                    <div class="is-bg">
                            <svg width="100%" height="100%" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="circuit" class="path" stroke-width="5"  stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-dasharray="120, 450" stroke-dashoffset="550" fill="#fff" stroke="#02B3E4">
                                        <path d="M 1, 500
                                            m -500, 0
                                            a 75,75 0 1,0 550,0
                                            a 25,25 0 1,0 -550,0"/>
                                </g>
                            </svg>
                            <svg width="100%" height="100%" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="circuit" class="path" stroke-width="5"  stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-dasharray="50, 450" stroke-dashoffset="550" fill="#333" stroke="#02B3E4">
                                        <path d="M34.7597656,24.6621094 C34.7597656,24.6621094 77.5078125,36.5332031 85.4667969,81.3476562 C93.4257812,126.162109 113.244141,136.978516 125.021484,61.3085937 C136.798828,-14.3613281 177.576172,3.91601562 181.253906,53.3027344 C184.931641,102.689453 198.804688,86.3828125 203.578125,66.0292969 C208.351562,45.6757812 219.548828,33.1386719 252.980469,33.1386719"/>
                                </g>
                            </svg>
                    </div>
                    <div class="content-text">
                        HELLO!
                    </div> 
                </div>
                <div class="organization-content">
                    <div class="about-us">
                        <div class="title">About us</div>
                        <div class="category-text">Overview & Organization</div>
                    </div>
                    <div class="work">
                        <div class="title">Work</div>
                        <div class="category-text">Bussiness area</div>
                    </div>
                    <div class="contact">
                        <div class="title">Contact</div>
                        <div class="category-text">Get in touch</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</HTML>