<HTML>
<head>
    <title>Tripath Việt Nam</title>
</head>
<body class="tpvn-about-us">
    <div class="wrapper">
        <div class="tpvn-main">
            <div class="logo">
                <a href="/" title="TPVN">TRIPATH
                    <span class="logo-text">VIET NAM</span>
                </a>
            </div>
            <div class="language-option" style="background: url(<%= asset_path 'selectLang.png' %>)no-repeat 75px 7px;">
                <a class="selectLang" href="#">Vietnamese</a>
                <ul class="languageTab">
                    <li>
                        <a href="#">Vietnamese</a>
                    </li>
                    <li>
                        <a href="#">English</a>
                    </li>
                </ul>
            </div>
            <div class="organization-content">
                <div class="about-us">
                    <div class="title">About us</div>
                    <div class="category-text">Overview & Organization</div>
                </div>
                <div class="work">
                    <div class="title">Work</div>
                    <div class="category-text">Bussiness area</div>
                </div>
                <div class="contact">
                    <div class="title">Contact</div>
                    <div class="category-text">Get in touch</div>
                </div>
            </div>
            <div class="tpvn-employees">
                <div class="top-container">
                    <svg class="top-tooltip" width="480px" height="1px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                    </svg>
                    <p class="top-title">WHO WE ARE</p>
                </div>
                <div class="main-container">
                    <div class="employee-profiles">
                        <div class="profile-box">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box odd-bg">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box odd-bg">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                    </div>
                    <div class="employee-profiles">
                        <div class="profile-box odd-bg">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box odd-bg">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box odd-bg">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                    </div>
                    <div class="employee-profiles">
                        <div class="profile-box">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box odd-bg">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box odd-bg">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                        <div class="profile-box">
                            <p class="text-name">Name</p>
                            <p class="text-position">Employee's position</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpvn-milestone">
                <div class="top-container">
                    <svg class="top-tooltip" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                    </svg>
                    <p class="top-title">MILESTONE</p>
                </div>
                <div class="main-container">
                </div>
            </div>
            <div class="tpvn-overview">
                <div class="top-container">
                    <svg class="top-tooltip" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                    </svg>
                    <p class="top-title">COMPANY OVERVIEW</p>
                </div>
                <div class="main-container">
                    <div class="overview-quotes">
                        <div class="quote-text">
                            <p>&ldquo;Develop the country by developing software”</p>
                        </div>
                    </div>
                    <div class="text-overview">
                        <div class="wrapper">
                            <ul class="top-content">
                                <p class="hlt">Vision:</p>
                                <li>
                                    - To be proved as advanced software developer by government and well-known enterprises.
                                </li>
                                <li>
                                    - To be valuable cross border commerce service provider between customers and resellers.
                                </li>
                            </ul>
                            <div class="table-contain">
                                <div class="row-table">
                                    <div class="title-fields">Company Name</div>
                                    <div class="text-fields">Tripath Vietnam Co., Ltd.</div>
                                </div>
                                <div class="row-table">
                                    <div class="title-fields">Founded</div>
                                    <div class="text-fields">November 2016</div>
                                </div>
                                <div class="row-table">
                                    <div class="title-fields">CEO</div>
                                    <div class="text-fields">Lee Narin</div>
                                </div>
                                <div class="row-table">
                                    <div class="title-fields">Staff</div>
                                    <div class="text-fields">Total of 15 employees</div>
                                </div>
                                <div class="row-table">
                                    <div class="title-fields">Capital</div>
                                    <div class="text-fields">650,000 USD</div>
                                </div>
                                <div class="row-table">
                                    <div class="title-fields">Address</div>
                                    <div class="text-fields">
                                        <p>Hanoi HQ: Room 2610, West Tower, Lotte Center Hanoi</p>
                                        <p>HCMC R&D: 4.1F, NP Tower, Vo Thi Sau, P7, Q3, Ho Chi Minh</p>
                                    </div>
                                </div>
                                <div class="row-table">
                                    <div class="title-fields">Main Business Area </div>
                                    <div class="text-fields">
                                        <p>Development and sales of online sales solution</p>
                                        <p>E-commerce and cross-border trade business</p>
                                        <p>Consultation and software development</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</HTML>