.tpvn-about-us {
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
  margin: 40px 160px;
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .hlt {
    font-weight: 600;
  }
  .tpvn-main {
    .logo {
      text-align: center;
      a {
        font-size: 32px;
        color: #666;
        line-height: 26px;
      }
      .logo-text {
        display: block;
        font-size: 15px;
        color: #333;
        opacity: 0.4;
      }
    }
    .language-option {
      position: absolute;
      right: 200px;
      top: 40px;
      font-size: 11px;
      padding: 5px;
      text-indent: -6px;
      .selectLang {
        display: block;
        width: 80px;
        line-height: 24px;
        font-size: 11px;
        color: #166293;
        border: 1px solid #166293;
        border-radius: 3px;
        text-align: center;
        font-weight: normal;
      }
      ul.languageTab {
        display: none;
        list-style: none;
        position: absolute;
        top: 25px;
        left: 0;
        padding-left: 5px;
        color: #166293;
        z-index: 9999;
        li {
          font-size: 11px;
          margin-top: -1px;
          a {
            display: block;
            width: 75px;
            border: 1px solid #166293;
            border-radius: 0;
            text-indent: 0;
            color: inherit;
            padding-left: 5px;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
    .organization-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      margin-bottom: 120px;
      & > div {
        width: 33.3%;
        text-align: center;
        color: #707070;
        .category-text {
          font-size: 15px;
          color: #cccccc;
        }
      }
      .about-us {
        .category-text {
          opacity: 0.3;
        }
      }
      .work {
        color: #3c84c6;
        .category-text {
          color: #91c5eb;
          opacity: 0.3;
        }
      }
      .contact {
        .category-text {
          opacity: 0.3;
        }
      }
    }
    .top-tooltip {
      width: 480px;
      height: 1px;
      background: #3c84c6;
    }
    .top-title {
      font-size: 80px;
      font-weight: 100;
      color: #3c84c6;
      margin: 0;
      margin-top: 31px;
      line-height: 57px;
    }
    .tpvn-employees {
      .main-container {
        margin-top: 79px;
        .employee-profiles {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          .odd-bg {
            background: #cccccc!important;
          }
          .profile-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 200px;
            height: 200px;
            color: #fff;
            background: #747474;
            & > p {
              margin: 0;
              width: 100%;
            }
            .text-name {
              line-height: 30px;
            }
            .text-position {
              font-size: 20px;
              line-height: 18px;
            }
          }
        }
      }
    }
    .tpvn-milestone {
      margin-top: 80px;
    }
    .tpvn-overview {
      margin-top: 80px;
      .overview-quotes {
        margin-top: 173px;
        text-align: center;
        .quote-text {
          margin: 0 auto;
          font-size: 80px;
          height: 206px;
          width: 1200px;
          border: solid 1px #91c5eb;
          color: #91c5eb;
          text-align: center;
          p {
            margin: 0 auto;
            margin-top: -50px;
            background: #ffffff;
            max-width: 903px;
          }
        }
      }
      .text-overview {
        .wrapper {
          max-width: 667px;
          margin: 0 auto;
          font-size: 16px;
          line-height: 32px;
          color: #333333;
          ul.top-content {
            margin-top: 90px;
            padding: 0;
            p.hlt {
              font-size: 24px;
              line-height: 32px;
            }
            li {
              list-style: none;
              line-height: 24px;
            }
          }
          .table-contain {
            margin-top: 47px;
            .row-table {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              &:not(:first-child) {
                border-top: solid 1px #f2f2f2;
              }
              & > div {
                min-height: 63px;
              }
              .title-fields {
                flex-basis: 35%;
              }
              .text-fields {
                flex-basis: 65%;
              }
            }
          }
        }
      }
    }
  }
}