@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,800&subset=vietnamese');
body {
  font-family: 'Fira Sans', sans-serif;
  a, a:hover, a:focus {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #333;
  }
  &.tpvn-index {
    font-size: 24px;
    margin: 160px;
    .tpvn-header {
      text-align: center;
      .logo {
        a {
          font-size: 32px;
          color: #666;
          line-height: 26px;
        }
        .logo-text {
          display: block;
          font-size: 15px;
          color: #333;
          opacity: 0.4;
        }
      }
    }
    .wrapper {
      width: 1440px;
      margin: 0 auto;
      .tpvn-main {
        .content {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          min-height: 500px;
          .is-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            svg {
              position: absolute;
              top:0;
              left: 0;
              // background-color: #000;
            }

            .path {
              animation: draw 2.5s infinite;
              animation-timing-function: linear;
            }

            @keyframes draw {
              0% {
              }
              100% {
                stroke-dashoffset: 0;
                stroke-opacity: 1;
              }
            }
          }
        }
        .organization-content {
          display: flex;
          flex-wrap: wrap;
          & > div {
            width: 33.3%;
            text-align: center;
            color: #707070;
            .category-text {
              font-size: 15px;
              color: #cccccc;
            }
          }
          .about-us {
            .category-text {
              opacity: 0.3;
            }
          }
          .work {
            color: #3c84c6;
            .category-text {
              color: #91c5eb;
              opacity: 0.3;
            }
          }
          .contact {
            .category-text {
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}
